<!DOCTYPE html>
<html>
  <head>
    <title>RailsVueIntegrate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="vue-notification">
      <button type="button" @click="increment()"> Increment </button>
      <button type="button" @click="emitted()"> Emitted </button>

      <p v-text="counter"></p>
      <p v-text="message"></p>
    </div>
    <div id="vue-<%= controller.controller_name %>-<%= controller.action_name %>">
      <%= yield %>
    </div>
  </body>
</html>
